h1{
    font-size : clamp(2rem, 3vw, 16rem);
    color : var(--secondary-main-color);
    font-family: "Kanit";
    font-weight: bold;
    padding : 5% 0%;
}   
/* A PROPOS DE NOUS */

#a-propos-de-nous{
    text-align: center;
    margin : 3rem 10rem;
}

#a-propos-de-nous p{
    font-family: "Jost";
    font-size: clamp(1rem, 2vw, 1.1rem);
}

#text-fixe{
    padding-top: 2rem;
}

#read-more-text{
    padding-bottom: 2rem;
}

#more{
    display: none;
}

hr {
    color: var(--main-color);
    width: 60%;
    margin : auto; 
}

/* L EQUIPE */

#equipe {
    text-align: center;
}

#photo-container{
    display: flex;
    justify-content: space-around;
    margin : 2rem 0rem;
}

.profil{
    width : 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border : 2px solid var(--secondary-color);
    border-radius: 4rem;
    padding : 1rem;
}

.profil img{
    width: 100%;
    border-radius: 4rem;
}

.profil-description{
    font-family: "Jost";
    padding : 1rem 0;
}

/* NOUS CONTACTER */

#nous-contacter{
    text-align: center;
}

form{
    margin: 2rem auto;
    font-family: "Jost";
    text-align: left;
    width: 60%;
}

#fullname{
    display: flex;
    justify-content: space-between;
}

#last-name, #first-name, #email{
    width : 20rem;
    border: none;
    border-bottom: 1px solid var(--main-color);
}

#email-container{
    margin : 1rem 0;
}

#message-area{
    display: flex;
    flex-direction: column;
}

textarea{
    border-radius: 0.7rem;
    color: var(--main-color);
}

#bouton-container{
    display: flex;
    justify-content: center;
}

#bouton{
    background-color: var(--secondary-main-color);
    color : white;
    padding: 10px 40px;
    font-size: clamp(1rem, 2vw, 1.5rem);
    border : none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--secondary-color);
    cursor: pointer;
    transition: all 0.3s linear;
}

#bouton:hover{
    transform : scale(1.1);
}


@media only screen and (max-width : 768px){

    #a-propos-de-nous{
        margin: 3rem 1.5rem;
    }

    #more{
        display: inline;
        border: none;
        color: var(--main-color);
        border-bottom: 1px solid var(--main-color);
    }

    #photo-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profil{
        width: 60%;
        margin-bottom: 1.5rem;
    }

    form{
        width: 80%;
    }

    #fullname{
        display: flex;
        flex-direction: column;

    }
    #last-name, #first-name, #email{
        width : 100%;
    }

    #read-more-text{
        display: none;
    }

    #read-more-text.visible{
        display: block;
    }
}