/* HEADER */

header {
    background-image: url("/image/Accueil/image-accueil.jpg");
    height: 800px;
    min-height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: clamp(3rem, 5vw, 6rem);
    color: var(--secondary-main-color);
    font-family: "kanit";
    font-weight: bold;
}

header h2 {
    font-size: clamp(1.5rem, 3vw, 3rem);
    color: white;
    font-family: "kanit";
    font-weight: semi-bold;
    margin-bottom: 20%;
}

/* LES RECETTES A LA UNE */
#featured-recipes h2 {
    font-size: clamp(1.5rem, 3vw, 3rem);
    text-align: center;
    margin: 5% 0%;
    color: var(--main-color);
    font-family: "kanit";
    font-weight: semi-bold;
}

/* #article-container {
    display: flex;
    justify-content: space-around;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article img {
    width: 20rem;
    height: 20rem;
    border-radius: 4rem;
    object-fit : cover;
    transition: all 0.3s linear;
}

article img:hover{
    box-shadow: 0px 0px 10px var(--secondary-color);
} */

#slider {
    min-height: auto;
    width: auto;
    position : relative;
}

.slider-nav-button--previous{
    left: 10%;
}

.slider-nav-button--next{
    right : 10%;
}
    
.slider-nav-button{
    position: absolute;
    top: 50%;
    border : none;
    color : var(--main-color);
    background-color: transparent;
    cursor: pointer;
}

.slider-nav-button:hover{
    transform : scale(1.1);
}

.slider-nav-button svg{
    width: 50px;
}

.slider-content{
    width : 100%;
    height: 800px;
    overflow: hidden;
    scroll-behavior: smooth;
    position : relative;
    display: inline-block;
}

.slider-content-item{
    position : absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-content-item img{
    width : 100%;
    object-fit: cover;
    border-radius: 4rem;
}

.slider-content-item2 {
    left: 100%;
}

.slider-content-item3 {
    left: 200%;
}

article p {
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    text-decoration: none;
    color: var(--main-color);
    padding-top: 5%;
    ;
    font-family: "Jost";
}

/* DECOUVRIR NOTRE SEMAINIER */

#button-container {
    text-align: center;
    padding: 60px 0px;
}

.button-semainier {
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    color: white;
    text-decoration: none;
    font-family: "Jost";
    background-color: var(--secondary-main-color);
    border: none;
    padding: 20px 150px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--secondary-color);
    cursor: pointer;
    transition: all 0.3s linear;

}

.button-semainier:hover {
    box-shadow: 0px 0px 20px var(--secondary-color);
    padding: 30px 160px;
}

hr {
    color: var(--main-color);
    width: 60%;
    margin: 6rem auto;
}

/* FOOTER */

footer {
    background-color: var(--main-color);
    padding: 0rem 1rem;
    height: 3rem;
    color: white;
    font-family: "kanit";
    font-size: clamp(0.5rem, 2.5vw, 1rem);
    font-weight: regular;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: regular;
    font-size: clamp(0.5rem, 2.5vw, 1.5rem);
}