/* HEADER */

header {
    background-image: url("../image/Accueil/image-accueil.jpg");
    height: 710px;
    min-height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: clamp(3rem, 5vw, 6rem);
    color: var(--secondary-main-color);
    font-family: "kanit";
    font-weight: bold;
}

header h2 {
    font-size: clamp(1.5rem, 3vw, 3rem);
    color: white;
    font-family: "kanit";
    font-weight: semi-bold;
    margin-bottom: 20%;
}

/* LES RECETTES A LA UNE */
#featured-recipes h2 {
    font-size: clamp(1.5rem, 3vw, 3rem);
    text-align: center;
    margin: 5% 0%;
    color: var(--main-color);
    font-family: "kanit";
    font-weight: semi-bold;
}

#slider {
    min-height: auto;
    width: auto;
    position : relative;
}

.slider-nav-button--previous{
    left: 10%;
}

.slider-nav-button--next{
    right : 10%;
}
    
.slider-nav-button{
    z-index: 3;
    position: absolute;
    top: 30%;
    border : none;
    color : var(--main-color);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s linear;
}

.slider-nav-button:hover{
    transform : scale(1.3);
}

.slider-nav-button svg{
    width: 50px;
}

.slider-content{
    z-index: 1;
    width : 50%;
    height: 800px;
    overflow: hidden;
    scroll-behavior: smooth;
    position : relative;
    display: inline-block;
    left: 25%
}

.slider-content-item{
    z-index: 2;
    position : absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-content-item img{
    width : 100%;
    object-fit: cover;
    border-radius: 4rem;
}

.slider-content-item2 {
    left: 100%;
}

.slider-content-item3 {
    left: 200%;
}

article p {
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    text-decoration: none;
    color: var(--main-color);
    padding-top: 5%;
    ;
    font-family: "Jost";
}

/* DECOUVRIR NOTRE SEMAINIER */

#button-container {
    text-align: center;
    padding: 60px 0px;
}

.button-semainier {
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    color: white;
    text-decoration: none;
    font-family: "Jost";
    background-color: var(--secondary-main-color);
    border: none;
    padding: 20px 150px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--secondary-color);
    cursor: pointer;
    transition: all 0.3s linear;

}

.button-semainier:hover {
    box-shadow: 0px 0px 20px var(--secondary-color);
    padding: 30px 160px;
}

hr {
    color: var(--main-color);
    width: 60%;
    margin: 6rem auto;
}


@media only screen and (max-width : 768px){

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 600px;
    }

    #featured-recipes{
        height: 400px;
    }

    .slider-content{
        width : 100%;
        height: 400px;
        left: 0;
    }

    .slider-content-item img{
        border-radius: 0;
    }
    
    .slider-nav-button{
        top: 30%;
        width : 10%;
    }

    .slider-nav-button--previous{
        left: 5%;
    }
    
    .slider-nav-button--next{
        right : 5%;
    }

    #button-container{
        padding: 0px 0px 40px;
    }

    .button-semainier{
        padding: 10px 100px;
        font-size: clamp(0.5rem, 2.5vw, 1.5rem);
    }

    hr {
        margin : 3rem auto;
    }

}