#sideNav {
    height: 100%;
    width: 15rem;
    position: fixed;
    background-color: var(--main-color);
    top: 0;
    padding-top: 60px;
    transition: left 0.5s ease;
    display: flex;
    box-shadow: 3px 2px 33px -9px #45483a;
    left: -15rem;
}

#sideNav ul li a {
    text-decoration: none;
    color: azure;
    padding: 1rem 1rem 1rem 3rem;
    font-size: 1.2rem;
    display: block;

}

#sideNav ul li a:hover {
    color: brown;
}

#sideNav.active {
    left: 0;
}

#sideNav #closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: white;
    text-decoration: none;
}


#navBar {
    background-color: var(--main-color);
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navBar img {
    height: 3rem;
}

header {
    display: flex;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    color: white;
    /* filter: drop-shadow(0px 10px 24px #000); */
    box-shadow: -1px 8px 8px -2px #A5A58D;
}

#onigiriHeader {
    background-image: url(../image/Onigiri/onigiri\ -\ blurred.jpg);
}

#wrapHeader {
    background-image: url(../image/Wrap/wrap-poulet-ranch-modified.png);
}

#carbonaraHeader {
    background-image: url(../image/Carbonara/pasta-712664_640-modified.png);
}

#pastaTomateHeader {
    background-image: url(../image/Pasta/pasta-7236369_640-modified.png);
}

#chiliHeader{
    background-image: url(../image/Chili/pexels-photo-15881322.jpeg);
}

header h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    font-family: "Kanit";
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: row;
    margin-right: 10%;
}

#sideBar {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    width: 20%;
    color: white;
    align-items: center;
    padding: 30px;
    padding-top: 10%;
    top: 0px;
    z-index: 1;
}



h2,
h3 {
    font-size: clamp(1rem, 2vw, 2rem);
    font-family: "Jost";
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    border-bottom: solid 1px white;
}

#sideBar ul {
    margin-top: 10px;

}

#sideBar ul li {
    display: flex;
    flex-direction: row;
    padding: 5px;
    font-size: clamp(0.5rem, 2vw, 1rem);
    font-family: "Jost";

}

#mealQuantity {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;

}

#recette {
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    width: 75%;
}

.iconRestriction {
    height: 2rem;
    margin-bottom: 1rem;
}

.icon {
    height: 2rem;
    display: none;
}

#instruction {
    display: flex;
    flex-direction: row;
    font-family: "Kanit";
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: var(--secondary-main-color);
    justify-content: space-around;
    margin: 100px;
    text-align: center;
}

#hr-place hr {
    width: 100%;
    height: 2%;
    background-color: var(--secondary-color);
    border: none;
}

.etape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

h4,
h5 {
    font-family: "Kanit";
    font-size: 40px;
    color: var(--secondary-main-color);
}

hr {
    width: 60%;
    height: 1px;
    background-color: var(--secondary-main-color);
    margin-bottom: 3rem;
    border: none;
}

p {
    font-family: "Jost";
    font-size: clamp(1rem, 2vw, 1.5rem);

}


#commentaires {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
}

#commentaireList {
    block-size: 120px;
    background-color: var(--main-color);
    height: auto;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 0.5% 0%;
}

#post-comment {
    display: flex;
    flex-direction: column;
}

#firstComment,
#secondComment,
#thirdComment,
#fourthComment,
#newComment {
    display: flex;
    flex-direction: row;
    block-size: 100px;
    height: 40px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 20px;
    margin: 5px;
    margin-bottom: 1px;
    padding: 5px;
}

#newComment {
    resize: inherit;

}

#newComment:focus-visible {
    box-shadow: 0 0 0 1px var(--secondary-main-color);
    outline: none;
}

#user {
    display: flex;
    flex-direction: row;
    font-family: "Jost";
    font-size: 10px;
    margin: 3px;
    margin-right: 4%;
}

#user-image img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-right: 5px;
}

#user-meta {
    width: 70px;
}

#day {
    display: flex;
    flex-direction: row;
}

#comment-post {
    display: flex;
    justify-content: center;
    font-family: "Jost";
    font-size: 14px;
    margin-left: 10px;
}

#addNoteCommentaire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#btnComment {
    background-color: var(--secondary-color);
    border-radius: 20px;
    width: 200px;
}

#notes {
    background-color: var(--secondary-color);
    border-radius: 20px;
    width: 100px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.rating a {
    float: right;
    color: #aaa;
    text-decoration: none;
    /* font-size: 3em; */
    transition: color .4s;
}

.rating a:hover,
.rating a:focus,
.rating a:hover~a,
.rating a:focus~a {
    color: white;
    cursor: pointer;
}

@media only screen and (max-width : 900px) {

    main {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    #recette {
    margin: 0;
    width: 80%;
    margin-left: 2rem;
    }

    .icon {
        height: 1.5rem;
        display: block;
    }

    .iconRestriction {
        margin: 1rem;
    }

    .rating {
        display: flex;
        justify-content: space-evenly;
    }

    #sideBar ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #sideBar ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        margin-bottom: 2rem;

    }

    #sideBar {
        width: 100%;
        padding: 0;

    }

    #instruction {
        display: flex;
        flex-direction: row;
        font-family: "Kanit";
        font-size: clamp(0.8rem, 2vw, 1.5rem);
        color: var(--secondary-main-color);
        justify-content: space-around;
        text-align: center;
        margin: 2rem;
        border-bottom: solid 1px;
        padding-bottom: 1rem;
        font-weight: bold;
    }


    #commentaireList {
        margin: 0 1rem;
    }

}