/* :root{
    --main-color: #6B705C;
    --secondary-color:#A5A58D;
    --secondary-main-color: #AD4C3F;
    
}

@font-face {
    font-family: "Kanit";
    src: url(Fonts/Kanit/Kanit-Bold.ttf);
    src: url(Fonts/Kanit/Kanit-Regular.ttf);
    src: url(Fonts/Kanit/Kanit-SemiBold.ttf);
    src: url(Fonts/Kanit/Kanit-Light.ttf);
}

@font-face {
    font-family: "Jost";
    src: url(Fonts/Jost/Jost-Italic-VariableFont_wght.ttf);
    src: url(Fonts/Jost/Jost-VariableFont_wght.ttf);
} */

#sideNav {
    height: 100%;
    width: 15rem;
    position: fixed;
    background-color: var(--main-color);
    top: 0;
    padding-top: 60px;
    transition: left 0.5s ease;
    display: flex;
    box-shadow: 3px 2px 33px -9px #45483a;
    left: -15rem;
}

#sideNav ul li a {
    text-decoration: none;
    color: azure;
    padding: 1rem 1rem 1rem 3rem;
    font-size: 1.2rem;
    display: block;

}

#sideNav ul li a:hover {
    color: brown;
}

#sideNav.active {
    left: 0;
}

#sideNav #closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: white;
    text-decoration: none;
}


#navBar {
    background-color: var(--main-color);
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navBar img {
    height: 3rem;
}

header {
    display: flex;
    text-align: center;
    background-image: url(image/lunchbox_dejeuner.jpg);
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: drop-shadow(0px 10px 24px #000); */
    box-shadow: -1px 8px 8px -2px #A5A58D;
}

header h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    font-family: "Kanit";
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: row;
    margin-right: 10%;
}

#sideBar {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    width: 20%;
    color: white;
    align-items: center;
    padding: 30px;
    padding-top: 30px;
    padding-top: 10%;
    
}

h2,
h3 {
    font-size: clamp(1rem, 2vw, 2rem);
    font-family: "Jost";
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#sideBar ul {
    margin-top: 10px;
    
}

#sideBar ul li {
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 0.8rem;
    font-family: "Jost";
   
}

#recette {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

#instruction{
    display: flex;
    flex-direction: row;
    font-family: "Kanit";
    font-size: 20px;
    color: var(--secondary-main-color);
    justify-content: space-around;
    margin: 100px;
}

#hr-place hr{
    width: 100%;
    height: 2%;
    background-color: var(--secondary-color);
    border: none;
}

#etape1,
#etape2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
    margin-bottom: 40px;
}

h4,
h5 {
    font-family: "Kanit";
    font-size: 40px;
    color: var(--secondary-main-color);
}

hr {
    width: 60%;
    height: 1px;
    background-color: var(--secondary-main-color);
    margin-bottom: 3rem;
    border: none;
}

p {
    font-family: "Jost";
    font-size: 16px;
}

#commentaires{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
}

#commentaireList{
    /* display: flex;
    flex-direction: column; */
    block-size: 120px;
    height: 230px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    margin-bottom: 10px;
}

#post-comment{
    display: flex;
    flex-direction: column;
}

#firstComment, #secondComment, #thirdComment, #fourthComment{
    display: flex;
    flex-direction: row;
    block-size: 100px;
    height: 40px;
    background-color: var(--main-color);
    color: white;
    border-radius: 20px;
    margin: 5px;
    margin-bottom: 1px;
    padding: 5px;
}

#user{
    display: flex;
    flex-direction: row;
    font-family: "Jost";
    font-size: 10px;
    margin: 3px;
}

#user-image img{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-right: 5px;
}

#comment-post{
    display: flex;
    justify-content: center;
    font-family: "Jost";
    font-size: 14px;
    margin-left: 10px;
}

#addNoteCommentaire{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#btnComment{
    background-color: var(--secondary-color);
    border-radius: 20px;
    width: 200px;
}

#notes{
    background-color: var(--secondary-color);
    border-radius: 20px;
    width: 100px;
}

.rating{
   display: flex;
   flex-direction: row-reverse; 
   justify-content: space-around;
}

.rating a {
    float: right;
    color: #aaa;
    text-decoration: none;
    /* font-size: 3em; */
    transition: color .4s;
 }

 .rating a:hover,
 .rating a:focus,
 .rating a:hover ~ a,
 .rating a:focus ~ a {
    color: white;
    cursor: pointer;
 }